.settings-panel, .figure{
    width: 300px;
}
label{
    display:inline-block;
    width:65px;
    text-align: right;
    padding-right: 5px;
}

input, button{
    box-sizing: border-box;
    width: 170px;
}

button{
    margin-left: 75px;
}
.line{
    width: 300px;
    height: 2px;
    background-color: #ccc;
}

.square{
    margin:0 auto;
    height: 100px;
    width: 100px;
    background-color: rgb(169, 218, 243);
    border: 1px solid #000000;
    border-radius: 5px;
}