/* ------------------------global---------------------- */
.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    padding: 60px 112px;
}

.button {
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 48px;
    width: 153px;
    height: 56px;
    background: #000;
    font-family: Sora, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: .3s;
}

.button:hover {
    background: #404040;
}

.regular-text {
    font-family: Sora, sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #000;
}

.extrabold-text {
    font-family: Sora, sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #000;
}

.outline-text {
    font-family: Sora, sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    text-shadow: 2.5px 2.5px #000, -2.5px 2.5px #000, 2.5px -2.5px #000, -2.5px -2.5px #000,  2px 0 #000, 0 2px #000, 2px 0 #000, 0 2px #000;
    transition: .2s;
}

.outline-text:hover {
    color:#A0A0A0;
}

.heading {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.heading-left{
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: flex-start;
}

span {
    margin-right: 16px;
}

span:last-child{
    margin-right: 0;
}

h2{
    margin: 0;
    line-height: 1.17;
}

/* ------------------------------header----------------------- */
.header__container {
    padding: 24px 80px;
}

.header__inner {
    max-width: 1344px;
    padding: 0 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-list {
    padding: 0;
    display: flex;
}

.header__navbar-items {
    list-style-type: none;
    margin-right: 32px;
}

.header__navbar-items:last-child {
    margin-right: 0;
}

.header__navbar-link {
    text-decoration: none;
    font-family: Sora, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    transition: .3s;
}

.header__navbar-link:hover {
    color:#404040;
    text-decoration: underline;
}

.header__btn {
    position:relative;
}

.header__btn::after {
    content: "";
    position: absolute;
    left: 113px;
    right: 20px;
    top: 18px;
    bottom: 18px;
    width: 20px;
    height: 20px;
    background: url('../images/header/download.svg') no-repeat;
}

.header__btn:active {
    color: #000;
    background-color: #fff;
}

.header__btn:active::after {
    background: url('../images/header/download_black.svg') no-repeat;
}

/* ----------------------------hero section----------------------- */

.hero__inner {
    min-width: 1216px;
    min-height: 630px;
    display: flex;
}

.hero__content {
    max-width: 586px;
    max-height: 630px;
}

.content__text-banner {
    margin-top:147px;
    margin-bottom: 77px;
}

h1 {
    margin: 0;
    margin-bottom: 32px;
    line-height: 1.45;
    letter-spacing: -0.02em;
}

p {
    font-family: Sora, sans-serif;
    font-size: 16px; 
    color: #71717A;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin:0;
}

.content__social-networks {
    width: 320px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    width: 56px;
    height: 56px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    transition: .3s;
}

.fb {
    background: url('../images/hero-section/icons/fb_black.svg') no-repeat center;
}

.fb:hover {
    background: #000 url('../images/hero-section/icons/fb_white.svg') no-repeat center;
}

.rb {
    background: url('../images/hero-section/icons/rb_black.svg') no-repeat center;
}

.rb:hover {
    background: #000 url('../images/hero-section/icons/rb_white.svg') no-repeat center;
}

.tw {
    background: url('../images/hero-section/icons/tw_black.svg') no-repeat center;
}

.tw:hover {
    background: #000 url('../images/hero-section/icons/tw_white.svg') no-repeat center;
}

.ds {
    background: url('../images/hero-section/icons/ds_black.svg') no-repeat center;
}

.ds:hover {
    background: #000 url('../images/hero-section/icons/ds_white.svg') no-repeat center;
}

.hero__image {
    max-width: 630px;
    max-height: 630px;
}

/* ----------------------------skills section----------------------- */

.skills__inner {
    min-width: 1216px;
    display: flex;
    flex-direction: column;
}

.skills__technologies{
    max-width: 1216px;
    max-height: 492px;
    margin-top: 20px;
    padding: 40px 0;
}

.technologies__inner{
    display: grid;
    grid-template-columns: repeat(5, 186px);
    column-gap: 71.5px;
    row-gap: 40px;
}

.technologies__box{
    width: 186px;
    height: 186px;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.tech__name{
    font-family: Sora, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.tech__icon{
    width: 56px;
    height: 56px;
    margin-bottom: 32px;
}

/* ----------------------------experience section----------------------- */

.experience{
    background: #000;
}

.experience__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white {
    color: #fff;
}

.experience__examples {
    width: 1216px;
    padding: 40px 24px;
    box-sizing: border-box;
    margin-top: 20px;
}

.block {
    width: 1168px;
    height: 192px;
    box-sizing: border-box;
    border: 1px solid #71717A;
    border-radius: 10px;
    padding: 30px 24px;
    transition: .3s;
}

.block:hover {
    background-color: #27272a;
    border: 0;
}

.examples__inner {
    display: grid;
    grid-template-columns: 1168px;
    row-gap: 32px;
}

.block__name {
    display: flex;
    align-items: center;
    height: 32px;
}

h4 {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    margin: 0;
    margin-right: auto;
    color: #fff;
}

.data {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin: 0;
    color: #D4D4D8;
}

.icon{
    width: 32px;
    height: 32px;
    margin-right: 32px;
}

.block__description {
    margin-top: 28px;
}

.description_on_black {
    color: #D4D4D8;
}

/* ----------------------------about me section----------------------- */
.about__inner{
    display: flex;
    justify-content: space-between;
}

.about__content {
    max-width: 610px;
    margin: 10.14px 0;
}

.person {
    width: 519px;
    height: 593px;
}

.paragraph {
    margin-bottom: 20px;
}

.paragraph:last-child{
    margin-bottom: 32px;
}

/* ----------------------------projects section----------------------- */

.projects {
    background-color: #000;
}

.projects__inner{
    display: flex;
    flex-direction: column;
}

.project-item__inner{
    padding: 20px 0;
    margin-bottom:20px;
    display: flex;
}

.project-item__inner:first-child{
    margin-top :20px;
}

.project-item__inner:last-child{
    margin-bottom: 0;
}

.project__image {
    width: 594px;
    height: 476px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.right{
    width: 594px;
    height: 476px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item {
    border-radius: 19px;
    width: 530px;
    height: 397px;
    box-shadow: 0 12px 42px -4px rgba(24, 39, 75, 0.12), 0 8px 18px -6px rgba(24, 39, 75, 0.12);
}

.project__content {
    margin: 90px 0 90px 40px;
    max-width: 582px;
}

.second {
    margin: 46px 40px 46px 0;
    max-width: 582px;
}

.third {
    margin: 87px 0 87px 40px;
    max-width: 582px;
}

h3 {
    font-family: Sora, sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin: 28px 0;
}

.read-more {
    width: 20px;
    height: 20px;
    margin-top: 28px;
}